# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
sd-local

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cover.html

# plugins
vendor/
.vscode/
.idea/

debug

# mac
.DS_Store

# goreleaser
/dist/

sd-artifacts
.sdlocal/
